@{
    ViewBag.Title = "Publishers";
}

<h2>Publishers</h2>
<div ng-app="app">
    <pubisher-app>Loading...</pubisher-app>
</div>

@section scripts
{
    <script src="~/app/modules.min.js"></script>
}
