<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e97a09ce-0445-4b28-8362-9a74889b1871/resourcegroups/MediaCatalog/providers/Microsoft.Web/sites/MediaCatalogApp</ResourceId>
    <ResourceGroup>MediaCatalog</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mediacatalogapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mediacatalogapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MediaCatalogApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MediaCatalogApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>splcenter.org</ADDomain>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibraryContext" Order="1" Enabled="False">
          <Destination Path="Data Source=splc.database.windows.net;Initial Catalog=MediaLibrary;Persist Security Info=True;User ID=splcdbmanager;Password=TzUF4Fjh" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MediaCatalog.DataAccess.LibraryContext, MediaCatalog.DataAccess" MigrationConfiguration="MediaCatalog.DataAccess.Migrations.Configuration, MediaCatalog.DataAccess" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://splcenter.org/WebApp-mediacatalogapp.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>945ec936-920e-4106-bf81-ade569f1d471</ADClientAPPID>
    <ADClientPassword>9tQPDBfWbyhDvJwWRLM01AIxCir9RMSU/J8qcgrhufc=</ADClientPassword>
    <ADReplyUrl>https://mediacatalogapp.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>ffb63644-2219-46e0-9edd-cad35ce33520</ADTenantId>
    <ADPostLogoutRedirectUri>https://mediacatalogapp.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LibraryContext-Web.config Connection String">
      <ParameterValue>Data Source=splc.database.windows.net;Initial Catalog=MediaLibrary;Persist Security Info=True;User ID=splcdbmanager;Password=TzUF4Fjh</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>