<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e97a09ce-0445-4b28-8362-9a74889b1871/resourcegroups/MediaCatalog2/providers/Microsoft.Web/sites/MediaCatalog20170404034301</ResourceId>
    <ResourceGroup>MediaCatalog2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mediacatalog20170404034301.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mediacatalog20170404034301.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MediaCatalog20170404034301</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MediaCatalog20170404034301</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>splcenter.org</ADDomain>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibraryContext" Order="1" Enabled="False">
          <Destination Path="Data Source=splc.database.windows.net;Initial Catalog=MediaLibrary;Persist Security Info=True;User ID=splcdbmanager;Password=TzUF4Fjh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=MediaLibrary;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LibraryContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.;initial catalog=MediaLibrary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://splcenter.org/WebApp-mediacatalog20170404034301.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>92b9e4d3-356c-44ae-9f4c-3e9b9f724c94</ADClientAPPID>
    <ADClientPassword>1rKHz8j0/V2QJTlH3Pi++iLtDARSbfFG3WoGpBHEQ3E=</ADClientPassword>
    <ADReplyUrl>https://mediacatalog20170404034301.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>ffb63644-2219-46e0-9edd-cad35ce33520</ADTenantId>
    <ADPostLogoutRedirectUri>https://mediacatalog20170404034301.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LibraryContext-Web.config Connection String">
      <ParameterValue>data source=splc.database.windows.net;initial catalog=MediaLibrary;persist security info=True;user id=splcdbmanager;password=TzUF4Fjh;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>